<main>
    <h1>Password Strength Test</h1>
    <div>
        <input type="password" [(ngModel)]="password" (ngModelChange)="checkPasswordStrength()">
    </div>

    <div class="strength-indicator">
        <div class="strength-section"
            [ngClass]="{'red': isPasswordEasy(), 'yellow': isPasswordMedium(), 'green': isPasswordStrong()}">
        </div>
        <div class="strength-section"
            [ngClass]="{'yellow': isPasswordMedium(), 'red': shouldBeMarkedAsEasy(), 'green': isPasswordStrong()}">
        </div>
        <div class="strength-section" [ngClass]="{'green': isPasswordStrong(), 'red': shouldBeMarkedAsEasy()}">
        </div>
    </div>
</main>